flows o.json
[{"id":"f7977fe4.ddab7","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"70cb2d63.67bee4","type":"debug","z":"f7977fe4.ddab7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":520,"wires":[]},{"id":"98ab6fa8.64348","type":"function","z":"f7977fe4.ddab7","name":"pre-token","func":"global.set(\"temp\",msg.payload.temp)\nglobal.set(\"curr\",msg.payload.curr)\nglobal.set(\"voll\",msg.payload.voll)\nvar apikey=\"vBWU-fUFBVMUdfMn_ZMLsehfHUEonUgOSjelKb8hTyhv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":380,"wires":[["60898512.72ddfc"]]},{"id":"60898512.72ddfc","type":"http request","z":"f7977fe4.ddab7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":424.00000286102295,"wires":[["4c15f459.75930c"]]},{"id":"4c15f459.75930c","type":"function","z":"f7977fe4.ddab7","name":"Pre Prediction","func":"var temp = global.get(\"temp\")\nvar curr = global.get(\"curr\")\nvar voll = global.get(\"voll\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Temperature\", \"Current\", \"Voltage\"]],\"values\": [[temp,curr,voll]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["d313dd40.2222"]]},{"id":"d313dd40.2222","type":"http request","z":"f7977fe4.ddab7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/71ad35bf-d622-4aac-acda-9213b7006047/predictions?version=2021-07-25","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":400,"wires":[["51723528.c42e2c"]]},{"id":"40f0ccee.2db5a4","type":"debug","z":"f7977fe4.ddab7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":267.0000057220459,"wires":[]},{"id":"51723528.c42e2c","type":"function","z":"f7977fe4.ddab7","name":"Parsing","func":"var Temperature = global.get('Temp')\nvar Current = global.get('curr')\nvar voltage = global.get('Voll')\nvar outcome=msg.payload.predictions[0].values[0][0]\nglobal.set(\"outcome\",outcome)\nmsg.payload = {\n  details: {\n  motor : {\n    Temperature:Temperature,\n    Current:Current,\n    voltage:voltage,\n    outcome:outcome\n  }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":639.6000595092773,"y":308.00000190734863,"wires":[["40f0ccee.2db5a4","476ccb7b.499174","9de59ec.1719f6"]]},{"id":"476ccb7b.499174","type":"ui_text","z":"f7977fe4.ddab7","group":"87bfaf07.dede2","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":541.2000122070312,"wires":[]},{"id":"ca566142.20f87","type":"ibmiot in","z":"f7977fe4.ddab7","authentication":"apiKey","apiKey":"91710329.4384c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":400,"wires":[["70cb2d63.67bee4","98ab6fa8.64348","f5d3411f.8d8b9"]]},{"id":"9de59ec.1719f6","type":"ui_template","z":"f7977fe4.ddab7","group":"87bfaf07.dede2","name":"","order":1,"width":0,"height":0,"format":"<div layout = \"row\" layout-align = \"start center\">\n    <span flex>temperature</span>\n    <span flex>current</span>\n    <span flex>voltage</span>\n    <span flex>outcome</span>\n</div>\n<div layout = \"row\" layout-align = \"start center\" ng-repeat=\"motor in msg.payload.details\">\n    <span flex style = \"color: green\">{{motor.temperature}}</span>\n    <span flex style = \"color: red\">{{motor.current}}</span>\n    <span flex style = \"color: blue\">{{motor.voltage}}</span>\n    <span flex style = \"color: black\">{{motor.outcome}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":320,"wires":[[]]},{"id":"8e811d65.bbc71","type":"http in","z":"f7977fe4.ddab7","name":"","url":"motor","method":"get","upload":false,"swaggerDoc":"","x":140,"y":640,"wires":[["b3443e53.24b59"]]},{"id":"97224d0e.88eb5","type":"http response","z":"f7977fe4.ddab7","name":"","statusCode":"","headers":{},"x":510,"y":640,"wires":[]},{"id":"b3443e53.24b59","type":"function","z":"f7977fe4.ddab7","name":"","func":"msg.payload = {  \"temp\":global.get('temp'), \"curr\": global.get('curr'),\"voll\":global.get('voll'),\"outcome\":global.get('outcome')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":640,"wires":[["97224d0e.88eb5","dac79d1b.c1367"]]},{"id":"dac79d1b.c1367","type":"debug","z":"f7977fe4.ddab7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":700,"wires":[]},{"id":"f5d3411f.8d8b9","type":"cloudant out","z":"f7977fe4.ddab7","name":"","cloudant":"","database":"project","service":"node-red-iseym-2021--cloudant-1625818158409-52211","payonly":false,"operation":"insert","x":170,"y":320,"wires":[]},{"id":"87bfaf07.dede2","type":"ui_group","name":"New","tab":"2e1e8bfb.51a344","order":1,"disp":true,"width":"6","collapse":false},{"id":"91710329.4384c","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2e1e8bfb.51a344","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]